
.navbar {
	background-color: orange;
	border-color: orange;
}

.navbar > .container > div > .navbar-nav > li > a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar > .container > div > .navbar-nav > li > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.panel > .panel-heading {
	background-color: blue;
	color: white;
	font-weight: bold;
}


textarea {
	width: 100%;
}

