
.navbar {
	background-color: orange;
	border-color: orange;
}

.navbar > .container > div > .navbar-nav > li > a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar > .container > div > .navbar-nav > li > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a {
	background: none;
	color: white;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.navbar-default .navbar-nav > .open > a {
	background: none !important;
	color: yellow;
}

.navbar-default .navbar-nav > .open > a:focus {
	color: white;
}

.panel > .panel-heading {
	background-color: blue;
	color: white;
	font-weight: bold;
}


textarea {
	width: 100%;
}

.errors {
	color: red;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 40px;
}

.homepage-status {
	text-align: center;
	margin-top: 30px;
	font-size: larger;
}

.edit-links {
	margin-top: 10px;
}
